#footer_content{
    text-align: center;
    margin: 1% auto 4% auto;
}
#footer_content .footer{
    border: 1px solid gray;
    background-color: rgb(200, 200, 200);
    text-align: center;
    margin: auto;
    padding: 2%;
}
.err{
    color: red;
}
.row{
    width: 100%;
    float: left;
}